@{
    ViewData["Title"] = "Home Page";
}
@model string
<div class="text-center">
    <br />

    <h1 class="display-4">Sustavi baza podataka</h1>
    <br />

    <p>U ovom projektu je prikazan rad aplikacije sa dvije različite baze (MongoDB i Postgres).</p>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">@Model</a>.</p>*@
    <br />
    <br />
    <br />
    <img src="~/images/mongodb.png" height="200 px;" width="350px;" alt="mongo">
    <img src="~/images/postgresql.jpeg" height="200 px;" width="400px;" alt="postgres">

</div>
