@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model string

@if (Model != "")
{
    <p> @Model  </p>
}
@*<form action="/Home/MongoAuth" method="post">
        <label>Username</label>
        <input type="text" name="username" />
        <label>Password</label>
        <input type="password" name="password" />
        <button type="submit">Prijavi se</button>
    </form>
*@
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-secondary" style="top:80px; margin-bottom:133px;">
                <div class="card-header">Mongo prijava</div>

                <div class="card-body">
                    <form action="/Home/MongoAuth" method="post">
                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input type="text" name="username" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" name="password" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Prijavi se</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
