@model OnlineGalerija.PostgresModels.Comment

@{

}
<div>
    <form method="post" asp-controller="Postgre" asp-action="Comment">
        <input asp-for="PostId" type="hidden" />
        <input asp-for="UserId" type="hidden" />
        <div class="form-group">
            <textarea asp-for="Text" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Komentiraj" class="btn btn-primary" />
        </div>

    </form>
</div>